<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>RTMPie</title>

    {{ encore_entry_link_tags('admin') }}
</head>
<body>
<div id="app"></div>

{{ encore_entry_script_tags('admin') }}
</body>
</html>
