<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>RTMPie</title>

    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

    {{ encore_entry_link_tags('admin') }}
    {{ encore_entry_script_tags('admin') }}
</head>
<body>
<div id="app"></div>

<script type="text/javascript">
    {% set config = config|merge({ sseHost: mercure(mercureTopics) }) %}
    var rtmpie_config = JSON.parse('{{ config|json_encode|raw }}');
</script>
</body>
</html>
